# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native build folders
/ios/
/android/
.kotlin/

# Native artifacts
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# Metro
.metro-health-check*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
**/.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~

# IDE / Editor
.vscode/
!.vscode/settings.json
!.vscode/extensions.json
.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# Environment variables
.env
.env.*
.env*.local

# TypeScript
*.tsbuildinfo

# Expo template example
app-example/

# EAS
.easignore

# Temporary files
*.log
*.tmp
*.temp
